<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="IdentifyNewBikes Suite" verbose="1" parallel="false">

    <test name="UI Automation Tests">
        <classes>

            <class name="test.LoginErrorTest"/>
            <class name="test.IdentifyNewBikesTest"/>
            <class name="test.BuyUsedCarInCityTest"/>

        </classes>
    </test>

    <!-- (Optional) Declare listeners globally here instead of @Listeners on classes
    <listeners>
        <listener class-name="listener.ExtentTestNGListener"/>
    </listeners>
    -->

</suite>
